<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/chat_box.css" />
<section id="feed-posts">
  <div class="home-heading text-light">
    <h1><%= title %></h1>
  </div>
  <div class="create-post-from">
    <div class="posts-main">
      <div class="posts text-center">
        <form action="/posts/create" id="new-post-form" method="POST">
          <h2 class="post-label" aria-hidden="true">Post</h2>
          <textarea
            name="content"
            rows="3"
            placeholder="Type Here..."
            class="form-control my-3"
            required
          ></textarea>
          <button type="submit" class="btn btn-primary btn-sm">Post</button>
        </form>
      </div>
    </div>
  </div>

  <% for( post of posts ) { %> <%- include('_post') -%> <% } %>
</section>

<section id="user-friends">
  <h4>Friends</h4>
  <% for(u of all_users){%>
  <p>
    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
  </p>
  <% } %>
</section>

<%- include('_chat_box') -%>

<!-- importing this script for creating the comments -->
<script src="/assets/js/home_post_comments.js"></script>
<script src="/assets//js/home_posts.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="/assets//js/toggle_likes.js"></script>
<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"
  integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/assets//js/chat_engine.js"></script>