<link rel="stylesheet" href="/css/user_profile.css" />

<div class="card">
  <img
    src="https://avatars.githubusercontent.com/u/53686943?s=400&u=6156ba99218447516fb309e4984ae48c29b2fcc7&v=4"
    alt="img"
  />
  <div class="content">
    <% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" method="POST">
      <input
        type="text"
        name="name"
        placeholder="Your Name"
        value="<%= profile_user.name %>"
        required
      />
      <input
        type="email"
        name="email"
        placeholder="Your Email"
        value="<%= profile_user.email %>"
        required
      />
      <input type="submit" value="Update" />
    </form>

    <%}else{%>
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <%} %>
  </div>
</div>
